<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form th:action="@{coche}" th:object="${cocheDTO}" method="post">

        <label for = "color-tapiceria">Elige un color de la tapicería</label>
        <select id="color-tapiceria" th:field="*{tapiceria}">
            <option value="Blanco">Blanco</option>
            <option value="Negro">Negro</option>
            <option value="Berenjena">Berenjena</option>ç
        </select>

        <label for="moldura">Elige el tipo de material de la tapicería</label>
        <select id="moldura" th:field="*{material}">
            <option value="madera">Madera</option>
            <option value="carbono">Carbono</option>

        </select>

        <button>Aceptar</button>


    </form>

    <div th:if="${resultado}">
        <span th:text="${resultado}"
    </div>
</body>
</html>